- content_for :title do
  == #{h @material.name} - #{h @material_category.name}

- content_for :crumb do
  == #{link_to h(@material_category.name), @material_category} &gt;
  = h @material.name

%h1{:class => @material_category.css_class}= h @material.name
- content_for :instruction do
  = render :partial => "shared/intro_banner", :locals => { :show_category_name => true, :current => @material }


- unless @material.instruction.blank?
  %h2== Handling Instructions
  = simple_format(h(@material.instruction))

- unless @material.description.blank?
  = @material.description

- if @locations.empty?
  %h2 Sorry, but there are no locations that accept this material
- else
  %h2== Where to go
= render :partial => 'location_list'

- content_for :side_column do
  - unless @material.related_materials.blank?
    %h2 Related Materials
    -for rel_material in @material.related_materials
      =link_to rel_material.name, rel_material
  - unless @material.events.blank?
    %h2 Related Events
    %ul.items-for-list
      = render :partial => @material.events.future
  - unless @material.articles.blank?
    %h2 Related Articles
    -for article in @material.articles
      =link_to article.name, article

